*{
    margin:0;
    padding:0;
}

.body{
    background-color: #009800;
}

.head{
    margin:30px auto;
    text-align: center;
}

#can{
    margin:0px auto;
    border:1px solid black;
    display: block;
}

.gobang{
    margin:10px auto;
    /*width:642px;*/
    /*height: 642px;*/
    /*border:1px solid #7a7a7a;*/
    /*background: url(../images/bak.jpg);*/
    overflow: hidden;
}

.text{
    margin:0 auto;
    width:100px;
    height:40px;
    text-align: center;
    color:#f00;
    border:5px solid red;
    line-height: 40px;
    display: block;
}