html,body{
    margin: 0;
    height: 100%;
}

.index-body{
    background: url(../images/bg.jpg);
}

#nameofgame{
    margin: 100px;
    color: #000000;
    font-size: xx-large;
    text-align: center;
}

#new-game{
    position: fixed;
    top: 50%;
    left: 50%;
    width:  50%;
    height: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.pvp{
    margin: 20px auto;
    text-align: center;
}

.pve{
    margin: 20px auto;
    text-align: center;
}

.exit{
    margin: 20px auto;
    text-align: center;
}

#button-pvp{
    margin: 20px 0;
    width: 300px;
    height: 80px;
    font-size: x-large;
}

#button-pve{
    margin: 20px 0;
    width: 300px;
    height: 80px;
    font-size: x-large;
}

#button-exit{
    margin: 20px 0;
    width: 300px;
    height: 80px;
    font-size: x-large;
}

#bodyofgame{
    background: url(../images/bg.jpg);
}

.main{
    height: 100%;
    margin: 0 300px;
}

.navleft,.navright{
    width: 300px;
    height: 100%;
}

.navleft{
    float: left;
}

.navright{
    float: right;
    position: relative;
}

#chessboard{
    position: inherit;
    left: 25%;
    margin: 40px auto;
    border: 2px solid black;
    display: block;
}

#restart,#revoke,#giveup,#homepage,#help,#about{
    position: absolute;
    top: 10%;
    font-size: large;
    width: 120px;
    height: 50px;
    margin: auto 0;
}

#restart{
	left: 20%;
    top: 10%;
}

#revoke{
	left: 20%;
    top: 20%;
}

#giveup{
	left: 20%;
    top: 30%;
}

#homepage{
	left: 20%;
    top: 40%;
}

#help{
	left: 20%;
    top: 70%;
}

#about{
	left: 20%;
    top: 80%;
}

.setting-body{
    background: #ffffff;
}

.gamemode{
    position: absolute;
    top: 9%;
    left: 7%;
}

.player-up,.player-down,.statusbar{
    position: absolute;
    left: 7%;
    display: block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.player-up{
    top: 25%;
    width: 100px;
    height: 100px;
}
.player-down{
    top: 75%;
    width: 100px;
    height: 100px;
}

.statusbar-up{
    position: absolute;
    top: 35%;
    left: 9.5%;
    width: 36px;
    height: 36px;
}

.statusbar-down{
    position: absolute;
    top: 60%;
    left: 9.5%;
    width: 36px;
    height: 36px;
}
