html,body{
    margin: 0;
    height: 100%;
}

h1{
    margin: 0 0 20px 0;
    text-align: center;
}

.index-body{
    background: #ffd53e;
}

#new-game{
    position: fixed;
    top: 50%;
    left: 50%;
    /*background-color: #ffffff;*/
    width:  50%;
    height: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    border: 1px solid black;
}

.select-mode{
    font-size: x-large;
    text-align: center;
}

.pvp{
    margin: 20px auto;
    text-align: center;
}

.pve{
    margin: 20px auto;
    text-align: center;
}

.button-pvp{
    width: 150px;
    height: 50px;
    font-size: x-large;
}

.button-pve{
    width: 150px;
    height: 50px;
    font-size: x-large;
}

#chessboard{
    margin: auto;
    border: 1px solid black;
    display: block;
}

.main{
    height: 100%;
    /*width: 800px;*/
    margin: 0 200px;
    /*border:1px solid #7a7a7a;*/
    /*background: url(../images/bak.jpg);*/
    background: #ffb12b;
    /*overflow: hidden;*/
}

.restart{
    font-size: large;
    margin: 20px 40px;
    width: 120px;
    height: 50px;
}

.revoke{
    font-size: large;
    margin: 20px 40px;
    width: 120px;
    height: 50px;
}

.homepage{
    font-size: large;
    margin: 20px 40px;
    width: 120px;
    height: 50px;
}

.setting-body{
    background: #ffd53e;
}

.pve-setting{
    position: fixed;
    top: 50%;
    left: 50%;
    /*background-color: #ffffff;*/
    width:  50%;
    height: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    border: 1px solid black;
}

.navleft,.navright{
    width: 200px;
    height: 100%;
    background: #d851ff;
}

.navleft{
    float: left;
}

.navright{
    float: right;
}

.statusbar{
    margin: 200px auto;
    width: 100px;
    height: 50px;
    text-align: center;
    color: #f00;
    border: 2px solid red;
    line-height: 40px;
    display: block;
}

.toast-wrap{
    opacity: 0;
    position: fixed;
    bottom: 7%;
    color: #fff;
    width: 100%;
    text-align: center;
}
.toast-msg{
    background-color: rgba(0,0,0,0.7);
    padding: 2px 5px;
    border-radius: 5px;
}
.toastAnimate{
    animation: toastKF 2s;
}
@keyframes toastKF{
    0% {opacity: 0;}
    25% {opacity: 1; z-index: 9999}
    50% {opacity: 1; z-index: 9999}
    75% {opacity: 1; z-index: 9999}
    100% {opacity: 0; z-index: 0}
}